<p>
  We are now on <a href="#" target="_blank">Kickstarter</a>
</p>
<p>
  **SLOGAN**
  **business summary - Endless possibilities**
  1) 18 languages
  2) Open source
  3) Any platform
</p>
<p>
  Transfer your Twitter handle to make it your official Things username for just this month at ...
</p>
<p>
  Things will officialy be open after the <a href="#" target="_blank">Kickstarter</a> campaign ends in x days.<br>
  But you can go and view our Things profile <a href="/thing/1" target="_blank">here</a> if you like.<br>
  Ask our Things bot if you have any questions <a href="/thing/1" target="_blank">here</a> or contact us at <a href="mailto:info@things.cx" target="_blank">here</a><br>
  And you can stay up to date via our YouTube channel <a href="http://www.youtube.com" target="_blank">here</a>
</p>
<p>
  You can also contribute to translation for Things <a href="https://www.transifex.com" target="_blank">here</a><br>
  And you can also view our development progress on <a href="https://www.github.com/things-cx" target="_blank">GitHub</a> because the code is open source.
</p>