<div *ngFor="let poster of officialPosters" mdTooltip="official poster @{{poster.user.title}} ({{poster.postCount}})" routerLink="/official-posters/{{thingId}}"
    class="official-poster-item">
    <app-media-type md-card-avatar [url]="poster?.user?.media ? poster?.user?.media[0] : ''" [thumbnail]="true"></app-media-type>
</div>
<div style="clear: both;"></div>

<md-card *ngIf="isProcessingOfficialPosters && isOfficial">
    <md-card-content>
        <md-spinner class="preloader"></md-spinner>
    </md-card-content>
</md-card>

<app-post-item *ngFor="let post of posts" [postModel]="post" [clickable]="true"></app-post-item>

<md-card *ngIf="isProcessing">
    <md-card-content>
        <md-spinner class="preloader"></md-spinner>
    </md-card-content>
</md-card>

<button md-raised-button class="center" *ngIf="posts?.length > 0 && posts?.length % 10 == 0" (click)="loadMore()">Load more</button>

<md-card *ngIf="posts?.length <= 0 && !isProcessing" class="card-item" (click)="openNoContentDialog()">
    <md-card-content>
        <md-icon>do_not_disturb</md-icon>
        <span>no posts about this Thing</span>
        <md-icon style="float: right;">info_outline</md-icon>
    </md-card-content>
</md-card>