<div *ngIf="!isAddingOfficialPoster">
    <md-card class="card-item" *ngIf="!isAddingOfficialPoster && !isProcessing">
        <md-card-content>
            <button md-raised-button style="float: right;" color="primary" type="button" (click)="isAddingOfficialPoster = !isAddingOfficialPoster">Add</button>
            <div style="clear: both;"></div>
        </md-card-content>
    </md-card>

    <md-card class="card-item" *ngFor="let poster of officialPosters">
        <md-card-header style="float: left;" [routerLink]="['/thing', poster.user.id]">
            <app-media-type md-card-avatar [url]="poster.user?.media ? poster.user?.media[0] : ''" [thumbnail]="true"></app-media-type>
            <md-card-title>
                {{poster.user.title}}
            </md-card-title>
            <md-card-subtitle *ngIf="poster.postCount === 1">{{poster.postCount}} post</md-card-subtitle>
            <md-card-subtitle *ngIf="poster.postCount !== 1">{{poster.postCount}} posts</md-card-subtitle>
            <md-card-subtitle *ngIf="poster?.parentHierarchy === null" mdTooltip="official poster of Thing">@{{poster.officialPosterThing}}</md-card-subtitle>
            <md-card-subtitle mdTooltip="official poster of Thing">
                <span *ngFor="let hierarchyItem of poster?.parentHierarchy"><span>@{{hierarchyItem}}</span></span>
            </md-card-subtitle>
        </md-card-header>
        <button md-icon-button style="float: right;" color="warn" type="button" (click)="remove(poster.user.id)">
            <md-icon style="color: red;">close</md-icon>
        </button>
        <div style="clear: both;"></div>
    </md-card>

    <!-- TODO: think about creating a component from everything below this comment (processing spinner, load more button and no results message) -->
    <md-card *ngIf="isProcessing">
        <md-card-content>
            <md-spinner class="preloader"></md-spinner>
        </md-card-content>
    </md-card>

    <button md-raised-button class="center" *ngIf="officialPosters?.length > 0 && officialPosters?.length % 10 == 0" (click)="loadMore()">Load more</button>

    <md-card *ngIf="officialPosters?.length <= 0 && !isProcessing">
        <md-card-content>
            <span>no official posters</span>
        </md-card-content>
    </md-card>
</div>

<md-card *ngIf="isAddingOfficialPoster">
    <md-card-content>
        <form [formGroup]="form">
            <md-input-container>
                <input mdInput [mdAutocomplete]="auto" formControlName="searchTerm" placeholder="search user">
            </md-input-container>
            <div *ngIf="formErrors?.searchTerm" class="validation-message">{{ formErrors.searchTerm }}</div>

            <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let searchResult of searchResults" (click)="searchResultClick(searchResult)">
                    {{searchResult.title}}
                </md-option>
            </md-autocomplete>

            <div *ngIf="selectedUser">
                <h4>Selected user</h4>
                <div>{{selectedUser.title}}</div>
            </div>
        </form>
    </md-card-content>
    <md-card-actions align="end">
        <button md-raised-button type="button" (click)="isAddingOfficialPoster = !isAddingOfficialPoster">Back</button>
        <button md-raised-button color="primary" type="button" [disabled]="!selectedUser" (click)="add()">Done</button>
    </md-card-actions>
</md-card>