<button md-icon-button (click)="myPanel.expanded = !myPanel.expanded">
    <md-icon>image</md-icon>
  </button>

<md-expansion-panel #myPanel class="panel">
  <md-input-container>
    <input mdInput #searchInput placeholder="Search images">
  </md-input-container>

  <button md-raised-button type="button" (click)="onSearch(searchInput)">Search</button><br>

  <div>powered by Google</div>

  <md-spinner *ngIf="isSearching"></md-spinner>

  <div style="overflow: auto; white-space: nowrap;">
    <span *ngFor="let image of imageResults">
      <img [src]="image.link" (click)="selectImage(image)" alt="google image" class="google-image-result" />
    </span>
  </div>

  <button md-raised-button class="center" type="button" *ngIf="imageResults?.length > 0" (click)="getMore()">Load more</button>
</md-expansion-panel>