<div *ngFor="let activityItem of activities">
  <md-card class="card-item" *ngIf="!activityItem.hasDescription" routerLink="/thing/{{activityItem.thingId}}">
    <app-media-type style="float: left;" md-card-avatar [url]="activityItem?.thingMedia ? activityItem?.thingMedia[0] : ''" [thumbnail]="true"></app-media-type>

    <div style="float: left;">
      <div><span *ngFor="let hierarchyItem of activityItem?.parentHierarchy">@{{hierarchyItem}}</span></div>
      <div *ngIf="activityItem?.parentHierarchy === null">@{{activityItem.thingTitle}}</div>
      <div class="date-time-created">{{activityItem.dateTimeCreated | date:'yMMMdjms'}}</div>
      <div>
        <md-icon>fiber_new</md-icon>
        <span>Thing created</span>
      </div>
    </div>
    <div *ngIf="activityItem.viewed !== null && !activityItem.viewed" class="unread-bubble" mdTooltip="unread"></div>
    <div style="clear: both;"></div>
  </md-card>
  <md-card class="card-item" *ngIf="activityItem.hasDescription" routerLink="/thing/description/{{activityItem.thingId}}/{{activityItem.version}}">
    <app-media-type style="float: left;" md-card-avatar [url]="activityItem?.thingMedia ? activityItem?.thingMedia[0] : ''" [thumbnail]="true"></app-media-type>

    <div style="float: left;">
      <div><span *ngFor="let hierarchyItem of activityItem?.parentHierarchy">@{{hierarchyItem}}</span></div>
      <div *ngIf="activityItem?.parentHierarchy === null">@{{activityItem.thingTitle}}</div>
      <div class="date-time-created">{{activityItem.dateTimeCreated | date:'yMMMdjms'}}</div>
      <div>
        <md-icon>update</md-icon>
        <span>description update</span>
      </div>
    </div>
    <div *ngIf="activityItem.viewed !== null && !activityItem.viewed" class="unread-bubble" mdTooltip="unread"></div>
    <div style="clear: both;"></div>
  </md-card>
</div>

<md-card *ngIf="isProcessing">
  <md-card-content>
    <md-spinner class="preloader"></md-spinner>
  </md-card-content>
</md-card>

<button md-raised-button class="center" *ngIf="activities?.length > 0 && activities?.length % 10 == 0" (click)="loadMore()">Load more</button>

<md-card *ngIf="activities?.length <= 0 && !isProcessing">
  <md-card-content>
    <md-icon>do_not_disturb</md-icon>
    <span>something went wrong</span>
  </md-card-content>
</md-card>