.date-time-created {
    font-size: 0.9rem;
    color: lightgray;
}

.unread-bubble {
    float: right;
    background-color: #ffd740;
    padding: 5px;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
}