<md-card *ngFor="let activityItem of activityList" [routerLink]="['/activity/things', activityItem.thingId]" class="card-item">
  <app-media-type style="float: left;" md-card-avatar [url]="activityItem?.thingMedia ? activityItem?.thingMedia[0] : ''" [thumbnail]="true"></app-media-type>

  <div style="float: left;">
    <div><span *ngFor="let hierarchyItem of activityItem?.parentHierarchy">@{{hierarchyItem}}</span></div>
    <div *ngIf="activityItem?.parentHierarchy === null">@{{activityItem.thingTitle}}</div>
    <div class="date-last-activity">{{activityItem.dateTimeLastActivity | date:'yMMMdjms'}}</div>
  </div>
  <div class="unread-count" *ngIf="activityItem?.unreadCount > 0">{{activityItem.unreadCount}}</div>
  <div style="clear: both;"></div>
</md-card>

<md-card *ngIf="isProcessing">
  <md-card-content>
    <md-spinner class="preloader"></md-spinner>
  </md-card-content>
</md-card>

<button md-raised-button class="center" *ngIf="activityList?.length > 0 && activityList?.length % 10 == 0" (click)="loadMore()">Load more</button>

<md-card *ngIf="activityList?.length <= 0 && !isProcessing">
  <md-card-content>
    <md-icon>do_not_disturb</md-icon>
    <span>none of your followers have made any Things</span>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button routerLink="/discover">Discover</button>
  </md-card-actions>
</md-card>