<md-dialog-content>
  <h3 style="float: left;">Mention</h3>
  <button md-button md-dialog-close style="float: right;">
    <md-icon>close</md-icon>
  </button>
  <div style="clear: both;"></div>

  <p *ngIf="selectedThings?.length == 0">Search for a user</p>
  <p *ngIf="selectedThings?.length > 0">Now search for any Things underneath if you want to</p>

  <div *ngIf="selectedThings?.length > 0">
    <br>
    <div *ngFor="let selectedThing of selectedThings" class="selected-thing-item" (click)="removeUpUntilThisThing(selectedThing)">@{{selectedThing.title}}</div>
    <br><br>
  </div>

  <form [formGroup]="form">

    <md-input-container style="width: 100%;">
      <input mdInput [mdAutocomplete]="auto" formControlName="searchTerm" placeholder="search underneath">
    </md-input-container>
    <div *ngIf="formErrors?.searchTerm" class="validation-message">{{ formErrors.searchTerm }}</div>

    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let searchResult of searchResults" (click)="onSearchClick(searchResult)">
        {{searchResult.title}}
      </md-option>
    </md-autocomplete>

  </form>
</md-dialog-content>
<md-dialog-actions align="end">
  <button md-raised-button (click)="done()">
    Add
  </button>
</md-dialog-actions>