<md-card *ngIf="!isProcessing">
    <md-card-subtitle>
        Add one or more media items<br> Has to be <strong>square</strong> and <strong>120x120</strong>
    </md-card-subtitle>
    <md-card-content>
        <span *ngFor="let item of mediaItems" style="display: inline-block;">
            <app-media-type [url]="item" [thumbnail]="false"></app-media-type>
            <button md-raised-button color="warn" (click)="onRemove(item)">Remove Image</button>
        </span>

        <br>

        <button md-icon-button (click)="myPanel.expanded = !myPanel.expanded">
            <md-icon>http</md-icon>
        </button>

        <md-expansion-panel #myPanel class="panel">
            <h3>Enter custom url</h3>
            <md-input-container>
                <input mdInput #manualUrlInput placeholder="youtube, vimeo, image, etc">
            </md-input-container>
            <button md-raised-button (click)="onCustomAdd(manualUrlInput.value)">Add</button>
            <div *ngIf="hasHttpWarning" style="color: red;">
                Warning: HTTP links are not allowed. Only HTTPS is allowed
            </div>
        </md-expansion-panel>

        <app-media-upload (onImageUploaded)="onAdd($event)"></app-media-upload>
        <br>
        <app-gif-search (onGifSelect)="onAdd($event)"></app-gif-search>
        <app-google-custom-search (onImageSelected)="onAdd($event)"></app-google-custom-search>

    </md-card-content>

    <md-card-actions>
        <button md-raised-button color="primary" *ngIf="editedMediaItems" (click)="onSave()">Save</button>
    </md-card-actions>
</md-card>

<md-card *ngIf="isProcessing">
    <md-card-content>
        <md-spinner class="preloader"></md-spinner>
    </md-card-content>
</md-card>