.chips-nowrap {
    overflow: auto; 
    white-space: nowrap;
    margin-top: 10px;

    ::ng-deep .mat-chip-list-wrapper {
        flex-wrap: nowrap;
    }
}

.description {
    max-height: 33px; 
    overflow: hidden;
    cursor: pointer;
    outline: none;

    ::ng-deep img {
        width: 100%;
    
        &.emojione {
            width: 1rem;
        }
    }
}

.tabs ::ng-deep .mat-tab-header {
    border-top: 1px solid rgba(0,0,0,.12);
}

.tabs ::ng-deep .mat-tab-body-content {
    padding: 0px 2px;
}

.tabs ::ng-deep .mat-tab-label:first-child:nth-last-child(4),
.tabs ::ng-deep .mat-tab-label:first-child:nth-last-child(4) ~ * {
    min-width: 150px;
}

.tabs ::ng-deep .mat-tab-label:first-child:nth-last-child(5),
.tabs ::ng-deep .mat-tab-label:first-child:nth-last-child(5) ~ * {
    min-width: 120px;
}

//This button is in the Edit section as well
.amazon-button {
    background-color: #ff9900; 
    color: #fff;
    width: 100%;
}

.share-button {
    margin-top: 36px;
}