<md-dialog-content>
  <button md-button md-dialog-close style="float: right;">
  <md-icon>close</md-icon>
</button>

  <br><br>

  <md-input-container>
    <input mdInput #nameInput [value]="name" placeholder="name">
  </md-input-container>

  <md-input-container>
    <input mdInput #urlInput [value]="url" placeholder="url">
  </md-input-container>
</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button (click)="save(nameInput.value, urlInput.value)">
  Insert
  </button>
  <button md-raised-button color="warn" (click)="save()" *ngIf="url">
    Remove
  </button>
</md-dialog-actions>