<form [formGroup]="form">
    <md-card *ngIf="!isProcessing">
        <md-card-content>
            <md-input-container>
                <input mdInput formControlName="password" type="password" placeholder="password" required>
            </md-input-container>
            <div *ngIf="formErrors?.password" class="validation-message">{{ formErrors.password }}</div>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="onSubmit()">Unlock</button>
        </md-card-actions>
    </md-card>
</form>

<md-card *ngIf="isProcessing">
    <md-card-content>
        <md-spinner class="preloader"></md-spinner>
    </md-card-content>
</md-card>