<md-card>
    <md-card-content>
        <form [formGroup]="form">

            <md-input-container>
                <input mdInput formControlName="password" type="password" placeholder="password" required>
            </md-input-container>
            <div *ngIf="formErrors?.password" class="validation-message">{{ formErrors.password }}</div>

            <br>

            <button md-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="onSubmit()">Unlock</button>
            <md-spinner *ngIf="isProcessing"></md-spinner>

        </form>
    </md-card-content>
</md-card>