<md-card>
    <md-card-title>
        Edit description
    </md-card-title>

    <md-card-content>
        <p>Descriptions will have version history if you want to roll back</p>
        <p>Users referencing your Thing will reference the current version</p>
        <p>You can also reference Things with the @ symbol to create likes and associations</p>
    </md-card-content>

    <md-card-actions>
        <button md-raised-button (click)="done()">Continue</button>
    </md-card-actions>
</md-card>