<app-post-item *ngFor="let post of activities" [postModel]="post" [clickable]="true"></app-post-item>

<md-card *ngIf="activities?.length <= 0 && !isProcessing" class="card-item">
    <md-card-content>
        <md-icon>do_not_disturb</md-icon>
        <span>something went wrong</span>
    </md-card-content>
</md-card>

<br>

<md-spinner *ngIf="isProcessing"></md-spinner>

<!--Default should be hidden-->
<button md-raised-button class="center" *ngIf="activities?.length > 0 && activities?.length % 10 == 0" (click)="loadMore()">Load more</button>