<div *ngIf="safeUrl !== null">

  <div [class.thumbnail-container]="thumbnail" [class.large-container]="!thumbnail" *ngIf="mediaTypeEnum.Image == mediaType">
    <img [class.thumbnail]="thumbnail" [class.large]="!thumbnail" (click)="viewMedia()" [src]="safeUrl" alt="Thing image">
  </div>

  <div *ngIf="mediaTypeEnum.YouTube == mediaType">
    <div *ngIf="thumbnail">
      <img [class.thumbnail]="thumbnail" [src]="safeUrl" alt="Thing image" class="img">
    </div>
    <div *ngIf="!thumbnail">
      <iframe [class.thumbnail]="thumbnail" [src]="safeUrl" width="560" height="315" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div *ngIf="mediaTypeEnum.Vimeo == mediaType">
    <iframe [class.thumbnail]="thumbnail" [src]="safeUrl" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen
      allowfullscreen></iframe>
  </div>

</div>