.post-image {
    max-height: 250px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.post-content {
    ::ng-deep .emojione {
        width: 1rem;
    }

    ::ng-deep .thing-ref {
        color: #673ab7;
        text-decoration: none;
    }
}

.unread-bubble {
    float: right;
    background-color: #ffd740;
    padding: 5px;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
}