<md-card>
    <md-card-title>
        Welcome
    </md-card-title>

    <md-card-content>
        <br>
        <img md-card-image src="assets/hierarchy-image.png" alt="hierarchy" style="max-width: 300px; margin: 0 auto; display: block;">
        
        <p>Create Things and stay up to date or just join the conversation</p>
        <p>AnyThing is possible 😉</p>
    </md-card-content>

    <md-card-actions>
        <button md-raised-button (click)="goToDiscover()">Discover</button>
        <button md-raised-button (click)="goToSignUp()">Sign up</button>
    </md-card-actions>
</md-card>