.editor-btn {
    float: left;
}

#content {
    height: 200px;
    min-height: 200px;
    display: block;
    width: 96%;
    padding: 8px;
    resize: vertical;
    border: 1px solid #dfe2e5;
}

.toolbar-group {
    float: left;
    margin-right: 15px;
}

.preview-container ::ng-deep img {
    width: 100%;

    &.emojione {
        width: 1rem;
    }
}