<md-card-content>
    <!--TODO: Auto recognize youtube, twitter, github, vimeo, ect-->
    <div [hidden]="viewPreviewScreen">
        <p style="color: rgba(0,0,0,.54); float: left;">Markdown editor</p>
        <button md-icon-button (click)="goToMarkdownInfo()" style="float: left;">
            <md-icon>info_outline</md-icon>
        </button>
        
        <button md-raised-button color="accent" (click)="viewPreview(content)" style="float: right;">Preview</button>
        <button md-raised-button color="warn" (click)="viewLocalBackup()" *ngIf="hasLocalBackup" style="float: right; margin-right: 20px;">Preview local backup</button>
        <div style="clear: both;"></div>

        <div class="toolbar-group">
            <button md-icon-button class="editor-btn" [mdMenuTriggerFor]="headingmenu" mdTooltip="Heading">
                <md-icon>text_fields</md-icon>
            </button>

            <md-menu #headingmenu="mdMenu">
                <button md-menu-item (click)="insert(content, '# ')">Heading</button>
                <button md-menu-item (click)="insert(content, '## ')" style="font-size: 0.9rem;">Heading</button>
                <button md-menu-item (click)="insert(content, '### ')" style="font-size: 0.8rem;">Heading</button>
            </md-menu>

            <button md-icon-button class="editor-btn" (click)="wrap(content, '**')" mdTooltip="Bold">
                <md-icon>format_bold</md-icon>
            </button>
            <button md-icon-button class="editor-btn" (click)="wrap(content, '_')" mdTooltip="Italic">
                <md-icon>format_italic</md-icon>
            </button>
        </div>
        <div class="toolbar-group">
            <button md-icon-button class="editor-btn" (click)="insert(content, '\n>')" mdTooltip="Quote">
                <md-icon>format_quote</md-icon>
            </button>
            <button md-icon-button class="editor-btn" (click)="insert(content, '\n\n---\n')" mdTooltip="Divider">
                <md-icon>linear_scale</md-icon>
            </button>
            <button md-icon-button class="editor-btn" [mdMenuTriggerFor]="linkmenu" mdTooltip="Link">
                <md-icon>insert_link</md-icon>
            </button>

            <md-menu #linkmenu="mdMenu">
                <button md-menu-item (click)="markdownHelper(content, markdownHelperTypeEnum.link)">Link</button>
                <button md-menu-item (click)="markdownHelper(content, markdownHelperTypeEnum.imgLink)">Image link</button>
                <button md-menu-item (click)="markdownHelper(content, markdownHelperTypeEnum.mailto)">Email address</button>
            </md-menu>
        </div>
        <div class="toolbar-group">
            <button md-icon-button class="editor-btn" (click)="insert(content, '\n- ')" mdTooltip="Bullet list">
                <md-icon>format_list_bulleted</md-icon>
            </button>
            <button md-icon-button class="editor-btn" (click)="insert(content, '\n1. ')" mdTooltip="Number list">
                <md-icon>format_list_numbered</md-icon>
            </button>
            <button md-icon-button class="editor-btn" (click)="insertTable(content)" mdTooltip="Table">
                <md-icon>border_all</md-icon>
            </button>
        </div>
        <div class="toolbar-group">
            <button md-icon-button class="editor-btn" (click)="openMentionDialog(content)" mdTooltip="Mention">
                @
            </button>
            <button md-icon-button class="editor-btn" [mdMenuTriggerFor]="mediamenu" mdTooltip="Media">
                <md-icon>insert_photo</md-icon>
            </button>

            <md-menu #mediamenu="mdMenu">
                <button md-menu-item (click)="markdownHelper(content, markdownHelperTypeEnum.image)">Image</button>
                <button md-menu-item (click)="markdownHelper(content, markdownHelperTypeEnum.youtube)">YouTube</button>
                <!-- <button md-menu-item (click)="markdownHelper(content, markdownHelperTypeEnum.vimeo)">Vimeo</button> -->
            </md-menu>
        </div>
        <app-emoji-panel class="toolbar-group" style="width: 100%;" (onInserted)="onEmojiInset($event)" mdTooltip="Emoji"></app-emoji-panel>
        
        <div style="clear: both;"></div>

        <textarea id="content" #content (keyup)="saveChanges(content)" (keydown)="onKeydown($event, content)" placeholder="describe your Thing" [value]="textAreaContent"></textarea>
    </div>
    <div [hidden]="!viewPreviewScreen">
        <button md-raised-button color="accent" (click)="viewPreviewScreen = !viewPreviewScreen" style="float: right;">Editor</button>
        <button md-raised-button color="warn" (click)="useLocalBackup(content)" *ngIf="hasLocalBackup" style="float: right; margin-right: 20px;">Use local backup</button>
        <div style="clear: both;"></div>
        <!-- <md-spinner *ngIf="renderingMarkdown"></md-spinner> -->
        <div *ngIf="previewHTML === ''">Nothing to preview</div>
        <div class="preview-container" [innerHTML]="previewHTML"></div>
    </div>
</md-card-content>
<md-card-actions>
    <button md-raised-button color="primary" type="button" (click)="save(content)" style="float: right; margin-right: 20px;">Save</button>
</md-card-actions>