<md-card-content>
    <!--TODO: Auto recognize youtube, twitter, github, vimeo, ect-->
    <div [hidden]="viewPreviewScreen">
        <p style="color: rgba(0,0,0,.54); float: left;">Markdown editor</p>

        <button md-raised-button color="accent" (click)="viewPreview(content)" style="float: right;">Preview</button>
        <button md-raised-button color="warn" (click)="viewLocalBackup()" *ngIf="hasLocalBackup" style="float: right;">Preview local backup</button>
        <div style="clear: both;"></div>

        <div class="toolbar-group">
            <button md-icon-button class="editor-btn" [mdMenuTriggerFor]="menu" mdTooltip="Heading">
                <md-icon>text_fields</md-icon>
            </button>

            <md-menu #menu="mdMenu">
                <button md-menu-item (click)="insert(content, '# ')">Heading</button>
                <button md-menu-item (click)="insert(content, '## ')" style="font-size: 0.9rem;">Heading</button>
                <button md-menu-item (click)="insert(content, '### ')" style="font-size: 0.8rem;">Heading</button>
            </md-menu>

            <button md-icon-button class="editor-btn" (click)="wrap(content, '**')" mdTooltip="Bold">
                <md-icon>format_bold</md-icon>
            </button>
            <button md-icon-button class="editor-btn" (click)="wrap(content, '_')" mdTooltip="Italic">
                <md-icon>format_italic</md-icon>
            </button>
        </div>
        <div class="toolbar-group">
            <button md-icon-button class="editor-btn" (click)="insert(content, '\n>')" mdTooltip="Quote">
                <md-icon>format_quote</md-icon>
            </button>
            <button md-icon-button class="editor-btn" (click)="insert(content, '\n---\n')" mdTooltip="Divider">
                <md-icon>linear_scale</md-icon>
            </button>
            <button md-icon-button class="editor-btn" (click)="insertUrl(content)" mdTooltip="Link">
                <md-icon>insert_link</md-icon>
            </button>
        </div>
        <div class="toolbar-group">
            <button md-icon-button class="editor-btn" (click)="insert(content, '\n- ')" mdTooltip="Bullet list">
                <md-icon>format_list_bulleted</md-icon>
            </button>
            <button md-icon-button class="editor-btn" (click)="insert(content, '\n1. ')" mdTooltip="Number list">
                <md-icon>format_list_numbered</md-icon>
            </button>
        </div>
        <div class="toolbar-group">
            <button md-icon-button class="editor-btn" (click)="insert(content, '@')" mdTooltip="Mention">
                @
            </button>
            <button md-icon-button class="editor-btn" (click)="insertImageUrl(content)" mdTooltip="Media">
                <md-icon>insert_photo</md-icon>
            </button>
        </div>
        <div style="clear: both;"></div>

        <textarea id="content" #content (keyup)="onTextAreaKeyup(content)" placeholder="describe your Thing" [value]="thingModel?.description?.content"></textarea>

        <button md-button (click)="goToMarkdownInfo()">
            <md-icon>info_outline</md-icon>
            Styling with Markdown is supported
        </button>
    </div>
    <div [hidden]="!viewPreviewScreen">
        <button md-raised-button color="accent" (click)="viewPreviewScreen = !viewPreviewScreen" style="float: right;">Editor</button>
        <button md-raised-button color="warn" (click)="useLocalBackup()" *ngIf="hasLocalBackup" style="float: right;">Use local backup</button>
        <div style="clear: both;"></div>
        <md-spinner *ngIf="renderingMarkdown"></md-spinner>
        <div *ngIf="previewHTML === ''">Nothing to preview</div>
        <div class="preview-container" [innerHTML]="previewHTML"></div>
    </div>
</md-card-content>
<md-card-actions>
    <button md-raised-button color="primary" type="button" (click)="saveChanges(content)" style="float: right; margin-right: 20px;">Save</button>
</md-card-actions>