<md-card *ngIf="!error">
    <app-search-bar></app-search-bar>

    <div class="chips-nowrap">
        <md-chip-list>
            <md-chip *ngFor="let tag of model?.tags" [routerLink]="['/tag', tag.name]" style="cursor: pointer;" class="mat-h2">#{{tag.name}}</md-chip>
        </md-chip-list>
    </div>
</md-card>

<md-card *ngFor="let thing of model?.things" routerLink="/thing/{{thing.thing.id}}" class="card-item">
    <md-card-header>
        <app-media-type md-card-avatar [url]="thing?.thing.media ? thing?.thing.media[0] : ''" [thumbnail]="true"></app-media-type>

        <md-card-title>{{thing.thing.title}}</md-card-title>
        <md-card-subtitle>
            <span *ngFor="let hierarchyItem of thing?.parentHierarchy; let i = index"><span *ngIf="thing?.parentHierarchy?.length - 1 > i">@{{hierarchyItem}}</span></span>
        </md-card-subtitle>
    </md-card-header>
</md-card>

<md-card *ngIf="isProcessing">
    <md-card-content>
        <md-spinner class="preloader"></md-spinner>
    </md-card-content>
</md-card>

<button md-raised-button class="center" *ngIf="model?.things?.length > 0 && model?.things?.length % 10 == 0" (click)="loadMore()">Load more</button>

<md-card *ngIf="error" (click)="reload()" class="card-item">
    <md-card-content>
        <md-icon>do_not_disturb</md-icon>
        <span>An error occurred. Click here to try again</span>
    </md-card-content>
</md-card>