/* You can add global styles to this file, and also import other style files */
@import url('~https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.validation-message {
    color: red;
}

.center {
    margin: 0 auto !important;
    display: block !important;
}

.card-item {
    margin-top: 10px;
    cursor: pointer;
    outline: none;

    &:first-child {
        margin-top: 0;
    }
}