<form [formGroup]="form">
    <md-card *ngIf="!isProcessing">
        <md-card-content>

            <md-input-container>
                <input mdInput formControlName="title" type="text" placeholder="title" required>
            </md-input-container>
            <div *ngIf="formErrors?.title" class="validation-message">{{ formErrors.title }}</div>

            <br>

            <div *ngIf="isShortcutThing">

                <md-input-container>
                    <input mdInput placeholder="search for shortcut Thing" formControlName="searchShortcutThingTitle">
                </md-input-container>
                <div *ngIf="formErrors?.searchShortcutThingTitle" class="validation-message">{{ formErrors.searchShortcutThingTitle }}</div>

                <md-spinner *ngIf="isProcessingSearch"></md-spinner>

                <br>
                <br>

                <md-select *ngIf="shortcutThings && shortcutThings?.length > 0" placeholder="select shortcut Thing" formControlName="shortcutThingId"
                    required>
                    <md-option *ngFor="let thing of shortcutThings" [value]="thing.id">{{ thing.title }}</md-option>
                </md-select>
                <div *ngIf="formErrors?.shortcutThingId" class="validation-message">{{ formErrors.shortcutThingId }}</div>

            </div>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="onSubmit()">Proceed</button>
        </md-card-actions>
    </md-card>
</form>

<md-card *ngIf="isProcessing">
    <md-card-content>
        <md-spinner class="preloader"></md-spinner>
    </md-card-content>
</md-card>