<md-card routerLink="/post/user/{{id}}" class="card-item">
  <md-card-header>
    <md-icon md-card-avatar>menu</md-icon>
    <div>
      <md-card-title>Posts</md-card-title>
      <md-card-subtitle>
        <md-spinner *ngIf="isProcessing" class="inline-preloader"></md-spinner>
        {{userThingDetails?.posts}} posts
      </md-card-subtitle>
    </div>
    <div *ngIf="userThingDetails">
      <md-icon (click)="follow(userDetailFollowingTypeEnum.posts, $event)" style="color: #aab8c2;" *ngIf="logedInUserId && !userThingDetails?.followedPosts">person_add</md-icon>
      <md-icon (click)="unfollow(userDetailFollowingTypeEnum.posts, $event)" style="color: green;" *ngIf="logedInUserId && userThingDetails?.followedPosts">person</md-icon>
    </div>
    <div style="clear: both;"></div>
  </md-card-header>
</md-card>

<md-card routerLink="/followers/user/{{id}}" class="card-item">
  <md-card-header>
    <md-icon md-card-avatar>person</md-icon>
    <div>
      <md-card-title>Following</md-card-title>
      <md-card-subtitle>
        <md-spinner *ngIf="isProcessing" class="inline-preloader"></md-spinner>
        {{userThingDetails?.thingsFollowing}} following
      </md-card-subtitle>
    </div>
    <div *ngIf="userThingDetails">
      <md-icon (click)="follow(userDetailFollowingTypeEnum.following, $event)" style="color: #aab8c2;" *ngIf="logedInUserId && !userThingDetails?.followedFollowing">person_add</md-icon>
      <md-icon (click)="unfollow(userDetailFollowingTypeEnum.following, $event)" style="color: green;" *ngIf="logedInUserId && userThingDetails?.followedFollowing">person</md-icon>
    </div>
    <div style="clear: both;"></div>
  </md-card-header>
</md-card>

<md-card routerLink="/likes/user/{{id}}" class="card-item">
  <md-card-header>
    <md-icon md-card-avatar>favorite</md-icon>
    <div>
      <md-card-title>Things liked</md-card-title>
      <md-card-subtitle>
        <md-spinner *ngIf="isProcessing" class="inline-preloader"></md-spinner>
        {{userThingDetails?.thingsLiked}} Things liked
      </md-card-subtitle>
    </div>
    <div *ngIf="userThingDetails">
      <md-icon (click)="follow(userDetailFollowingTypeEnum.thingLikes, $event)" style="color: #aab8c2;" *ngIf="logedInUserId && !userThingDetails?.followedThingLikes">person_add</md-icon>
      <md-icon (click)="unfollow(userDetailFollowingTypeEnum.thingLikes, $event)" style="color: green;" *ngIf="logedInUserId && userThingDetails?.followedThingLikes">person</md-icon>
    </div>
    <div style="clear: both;"></div>
  </md-card-header>
</md-card>

<md-card routerLink="/post/likes/user/{{id}}" class="card-item">
  <md-card-header>
    <md-icon md-card-avatar>favorite</md-icon>
    <div>
      <md-card-title>Posts liked</md-card-title>
      <md-card-subtitle>
        <md-spinner *ngIf="isProcessing" class="inline-preloader"></md-spinner>
        {{userThingDetails?.postsLiked}} posts liked
      </md-card-subtitle>
    </div>
    <div *ngIf="userThingDetails">
      <md-icon (click)="follow(userDetailFollowingTypeEnum.postLikes, $event)" style="color: #aab8c2;" *ngIf="logedInUserId && !userThingDetails?.followedPostLikes">person_add</md-icon>
      <md-icon (click)="unfollow(userDetailFollowingTypeEnum.postLikes, $event)" style="color: green;" *ngIf="logedInUserId && userThingDetails?.followedPostLikes">person</md-icon>
    </div>
    <div style="clear: both;"></div>
  </md-card-header>
</md-card>

<br>