<app-post-item [postModel]="post" [clickable]="false"></app-post-item>

<app-post-item *ngFor="let postReply of postReplies" [postModel]="postReply" [clickable]="true" [replyView]="true" style="margin-left: 6%; display: block;"></app-post-item>

<md-card *ngIf="isProcessing || isProcessingReplies">
    <md-card-content>
        <md-spinner class="preloader"></md-spinner>
    </md-card-content>
</md-card>

<button md-raised-button class="center" *ngIf="postReplies?.length > 0 && postReplies?.length % 10 == 0" (click)="loadMore()">Load more</button>